#home-body {
    background-image: url('../img/college.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    /* font-family: "Courier New", Courier, monospace; */
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-body{
    background-image: url('../img/gradient-blue.svg');
    overflow: scroll;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: dodgerblue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 12px 10px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    font-weight: bolder;
    color: antiquewhite;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: gray;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #000;
    border-radius: 10px;
}