<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="../static/assets/img/graduation-cap.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <script src="https://kit.fontawesome.com/9b45bbf03c.js" crossorigin="anonymous"></script>
    <style>
        .center-outer {
            margin-top: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h3 {
            letter-spacing: 3px;
        }

        .container {
            border: 2px solid white;
            border-radius: 10px;
        }
    </style>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>

<body class="auth-body">

    {% include 'navigation.html' %}

    <main>
        <div class="center-outer">
            <div class="container bg-white">
                <div class="row justify-content-center p-4">
                    <h3 class="mb-3">Student's Choice</h3>
                    <div class="col-md-6">
                        <form class="border-dark-subtle" action="/recommend" method="post">
                            <div class="mb-3">
                                <label for="cut-off" class="form-label fw-semibold">Cut-off Obtained (Out of
                                    200)</label>
                                <input class="form-control" id="cut-off" name="cut-off">
                            </div>
                            <div class="mb-1 fw-semibold">Community</div>
                            <select class="form-select mb-3" aria-label="Community" name="community">
                                <option selected>Select your community</option>
                                <option value="BC">BC</option>
                                <option value="MBC">MBC</option>
                                <option value="OC">OC</option>
                                <option value="SC">SC/ST</option>
                            </select>
                            <div class="mb-1 fw-semibold">Preferred Branch</div>
                            <select class="form-select mb-3" aria-label="Community" name="branch">
                                <option selected>Select your preferred Branch</option>
                               <option value="AI">Agricultural And Irrigation Engineering.(SS)</option>
                               <option value="BY">Bio Medical Engineering(SS)</option>
                               <option value="CE">Civil Engineering</option>
                               <option value="CM">Computer Science And Engineering(SS)</option>
                               <option value="CS">Computer Science And Engineering</option>
                               <option value="EC">Electronics and Communication Engineering</option>
                               <option value="EE">Electrical and Electronics Engineering</option>
                               <option value="IT">Information Technology</option>
                               <option value="IM">Information Technology(SS)</option>
                               <option value="ME">Mechanical Engineering</option>
                               <option value="PT">Printing Technology</option>
                               <option value="XC">Civil Engineering (Tamil Medium)</option>
                               <option value="XM">Mechanical Engineering (Tamil Medium)</option>
                               <option value="CH">Chemical Engineering</option>
                               <option value="CL">Chemical Engineering(SS)</option>
                               <option value="LE">Leather Technology</option>
                               <option value="PP">Petroleum Engineering And Technology(SS)</option>
                               <option value="TX">Textile Technology</option>
                               <option value="AU">Automobile Engineering</option>
                               <option value="EI">Electronics and Instrumentation Engineering.</option>
                               <option value="IB">Industrial Bio-Technology</option>
                               <option value="MF">Mechanical Engineering(SS)</option>
                               <option value="PR">Production Engineering</option>
                               <option value="RP">Rubber And Plastic Technology</option>
                               <option value="MT">Metallurgical Engineering</option>
                               <option value="PA">Plastic Technology</option>
                               <option value="IT">Information Technology</option>
                               <option value="PC">Petro Chemical Technology</option>
                               <option value="PH">Pharmaceutical Technology</option>
                               <option value="AS">Automobile Engineering (SS)</option>
                               <option value="FY">Fashion Technology(SS)</option>
                               <option value="PS">Production Engg.(Sandwich)(SS)</option>
                               <option value="RA">Robotics and Automation (SS)</option>
                               <option value="AG">Agriculture Engineering.</option>
                               <option value="FT">Fashion Technology</option>
                               <option value="FS">Food Technology (SS)</option>
                               <option value="ES">Electrical and Electronics (Sandwich) (SS)</option>
                               <option value="GI">Geo-Informatics</option>
                               <option value="FS">Food Technology</option>
                               <option value="BS">Bio Technology (SS)</option>
                               <option value="MZ">Mechatronics Engineering</option>
                               <option value="AE">Aeronautical Engineering</option>
                               <option value="AD">Artificial Intelligence And Data Science</option>
                               <option value="CF">Computer Science And Engineering (DATA SCIENCE)</option>
                           </select>
                            <div class="mb-3">
                                <label for="location" class="form-label fw-semibold">Enter location</label>
                                <input type="text" class="form-control" id="location" name="location">
                            </div>
                            <button type="submit" class="btn btn-outline-primary w-100">Get Your College list</button>
                        </form>
                    </div>
                    <div class="col-md-6 img">
                        <img src="../static/assets/img/CollegeImg.jpg" alt="Image" class="img-fluid w-100">
                        <div class="fs-4 mt-2 text-center fst-italic">Buckle Up! You're close to your dream college
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>