<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="../static/assets/img/graduation-cap.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <script src="https://kit.fontawesome.com/9b45bbf03c.js" crossorigin="anonymous"></script>
    <style>
        .center-outer {
            margin-top: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h3{
            letter-spacing: 3px;
        }
        .container {
            border : 2px solid white;
            border-radius: 10px;
        }
    </style>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>

<body class="auth-body">

    {% include 'navigation.html' %}

    <main>
        <div class="center-outer">
            <div class="container bg-white">
                <div class="row justify-content-center p-4">
                    <h3 class="mb-3">Student's Choice</h3>
                    <div class="col-md-6">
                        <form class="border-dark-subtle">
                            <div class="mb-3">
                                <label for="cut-off" class="form-label fw-semibold">Cut-off Obtained (Out of 200)</label>
                                <input type="number" class="form-control" id="cut-off">
                            </div>
                            <div class="mb-1 fw-semibold">Community</div>
                            <select class="form-select mb-3" aria-label="Community">
                                <option selected>Select your community</option>
                                <option value="BC">BC</option>
                                <option value="MBC">MBC</option>
                                <option value="OC">OC</option>
                                <option value="SC">SC/ST</option>
                            </select>
                            <div class="mb-1 fw-semibold">Preferred Branch</div>
                            <select class="form-select mb-3" aria-label="Community">
                                <option selected>Select your preferred Branch</option>
                                <option value="CSE">Computer Science and Engineering</option>
                                <option value="IT">Information Technology</option>
                                <option value="ECE">Electronics and Communication Engineering</option>
                                <option value="AI">Artificial Intelligence and Data Science</option>
                                <option value="EEE">Electrical and Electronics Engineering</option>
                                <option value="CE">Chemical Engineering</option>
                            </select>
                            <div class="mb-3">
                                <label for="location" class="form-label fw-semibold">Enter location</label>
                                <input type="text" class="form-control" id="location">
                            </div>
                            <button type="submit" class="btn btn-outline-primary w-100">Get Your College list</button>
                        </form>
                    </div>
                    <div class="col-md-6 img">
                        <img src="../static/assets/img/CollegeImg.jpg" alt="Image" class="img-fluid w-100">
                        <div class="fs-4 mt-2 text-center fst-italic">Buckle Up! You're close to your dream college</div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>